.underline {
    text-decoration: underline;
}
.item-passage {
    margin-bottom: 10px;
}
.tpl-file {
  display: none;
}
table.content {
    border-collapse: seperate;
    border-spacing: 4px;
}
.content td {
    padding: 8px;
}
.content td:first-child {
    padding-right: 10px;
}
.table .numeric-cell {
    text-align: right;
}
.passage-with-margin {
    margin-left: 30px;
}
.passage-number {
    margin-left: -30px;
    float: left;
    font-style: italic;
}
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
}
p {
  margin: 0 0 10px;
}
small {
  font-size: 85%;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 10px 0;
  font-family: inherit;
  font-weight: bold;
  line-height: 20px;
  color: inherit;
  text-rendering: optimizelegibility;
}
h1,
h2,
h3 {
  line-height: 40px;
}
h1 {
  font-size: 38.5px;
}
h2 {
  font-size: 31.5px;
}
h3 {
  font-size: 24.5px;
}
h4 {
  font-size: 17.5px;
}
h5 {
  font-size: 14px;
}
h6 {
  font-size: 11.9px;
}
ul,
ol {
  padding: 0;
  margin: 0 0 10px 25px;
}
ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}
li {
  line-height: 20px;
}
dl {
  margin-bottom: 20px;
}
dt,
dd {
  line-height: 20px;
}
dt {
  font-weight: bold;
}
dd {
  margin-left: 10px;
}
hr {
  margin: 20px 0;
  border: 0;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #ffffff;
}
blockquote {
  padding: 0 0 0 15px;
  margin: 0 0 20px;
  border-left: 5px solid #eeeeee;
}
code,
pre {
  padding: 0 3px 2px;
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 12px;
  color: #333333;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}
code {
  padding: 2px 4px;
  color: #d14;
  white-space: nowrap;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
}
pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 20px;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre;
  white-space: pre-wrap;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
table {
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.ptc-1 { margin-top:0pt;margin-bottom:16pt; }
.ptc-2 { text-align:center;margin-top:0pt;margin-bottom:0pt; }
.ptc-3 { text-align:left;margin-top:0pt;margin-bottom:0pt; }
.ptc-4 { width: 502px; height: 225px; }
.ptc-5 { margin-top:0pt;margin-bottom:20pt; }
.ptc-6 { text-align:left;margin:4pt;border-style:solid;border-width:1px;border-color:#000000;padding:2px; }
.ptc-7 { margin-top:0pt;margin-bottom:12pt; }
.ptc-8 { text-align:left;margin-top:0pt;margin-bottom:0pt;margin-left:30pt;padding:2px; }
.ptc-9 { margin-top:0pt;margin-bottom:8pt; }
.ptc-10 { text-align: left;margin-top:0pt;margin-bottom:0pt; }
.ptc-11 { text-decoration:overline; }
.ptc-12 { text-align: left;margin-top:0pt;margin-bottom:0pt;margin-left:42pt; }
.ptc-13 { text-align:left;margin-top:0pt;margin-bottom:0pt;margin-left:38pt; }
.ptc-14 { text-align:left;margin-top:0pt;margin-bottom:0pt;margin-left:54pt; }
.ptc-15 { text-align:left;margin-top:0pt;margin-bottom:0pt;margin-left:72pt; }
.ptc-16 { text-align:left;margin-top:0pt;margin-bottom:0pt;margin-left:78pt; }
.ptc-17 { text-align:left;margin-top:0pt;margin-bottom:0pt;margin-left:22pt; }
.ptc-18 { width:540px;height:45px; }
.ptc-19 { text-align:left;margin-top:0pt;margin-bottom:0pt;margin-left:18pt; }
.ptc-20 { width: 96px; height: 76px; }
.ptc-21 { width: 167px; height: 85px; }
.ptc-22 { width: 103px; height: 103px; }
.ptc-23 { width: 194px; height: 9px; }
.ptc-24 { text-align: left;margin-top:0pt;margin-bottom:0pt;margin-left:20pt; }
.ptc-25 { text-align: center;margin-top:0pt;margin-bottom:0pt; }
.ptc-26 { width: 96px; height: 85px; }
.ptc-27 { width: 97px; height: 97px; }
.ptc-28 { width: 72px; height: 93px; }
.ptc-29 { text-align:left;margin-top:0pt;margin-bottom:0pt;margin-left:24pt; }
.ptc-30 { width:171px;height:171px; }
.ptc-31 { width:254px;height:66px; }
.ptc-32 { width:160px;height:160px; }
.ptc-33 { width:254px;height:125px; }
.ptc-34 { width:402px;height:157px; }
.ptc-35 { border:1px solid #000000;border-spacing:0px;margin-left:30pt; }
.ptc-36 { border:1px solid #000000; padding:2px; }
.ptc-37 { background-color:#cccccc; }
.ptc-38 { text-align:center; }
.ptc-39 { font-size:150%; }
.ptc-40 { width:502px;height:225px;margin-left:35px; }
.ptc-41 { margin-left:36px; }
.ptc-42 { border:1px solid #000000;border-spacing:0px; }
.ptc-43 { border:1px solid #000000; padding:0px; }
.ptc-44 { width: 57px; height: 27px; text-align: center; }
.ptc-45 { width: 550px; height: 27px; text-align: center; }
.ptc-46 { width: 57px; text-align: center; }
.ptc-47 { width:550px; }
.ptc-48 { margin-top:0pt;margin-bottom:18pt; }
.ptc-49 { text-align:left;margin-top:0pt;margin-bottom:0pt;margin-left:20pt; }
.ptc-50 { text-decoration:underline; }
.ptc-51 { font-size:125%; }
.ptc-52 { text-align:left;margin-top:0pt;margin-bottom:0pt;margin-left:10pt; }
.ptc-53 { text-align:left;margin-top:0pt;margin-bottom:0pt;margin-left:42pt; }
.ptc-54 { text-align:left;margin-top:0pt;margin-bottom:0pt;margin-left:60pt; }
.ptc-55 { text-align:left;margin-top:0pt;margin-bottom:0pt;margin-left:50pt; }
.ptc-56 { text-align:left;margin-top:0pt;margin-bottom:0pt;margin-left:16pt; }
.ptc-57 { text-align:left;margin-top:0pt;margin-bottom:0pt;margin-left:40pt; }
.ptc-58 { text-align:left;margin-top:0pt;margin-bottom:0pt;margin-left:68pt; }
.ptc-59 { text-align:left;margin-top:0pt;margin-bottom:0pt;margin-left:30pt; }
.ptc-60 { margin-top:0pt;margin-bottom:24pt; }
.ptc-61 { margin-left:72px; }
.ptc-62 { text-align:left;margin-top:0pt;margin-bottom:0pt;margin-left:30pt;border-style:solid; border-width:1px; border-color:black; padding:2px; }
.ptc-63 { border:1px solid #000000;border-spacing:0px;width:480px; }
.ptc-64 { border:1px solid #000000; padding:4px; }
.ptc-65 { width:222px;height:97px; }
.ptc-66 { width: 222px; height: 97px; }
.ptc-67 { text-align:center;margin-top:0pt;margin-bottom:0pt;margin-left:40px; }
.ptc-68 { margin-left:40px; }
.ptc-69 { text-align: center; margin-top: 0pt; margin-bottom: 0pt; margin-left: 40px; }
.ptc-70 { margin-top: 0pt; margin-bottom: 0pt; }
.ptc-71 { width:516px;height:204px;margin-left:40px; }
.ptc-72 { text-align:left;margin-top:0pt;margin-bottom:0pt;margin-left:26pt; }
.ptc-73 { border:1px solid #000000;border-spacing:1px;margin-left:30pt; }
.ptc-74 { margin-left:72px;margin-top:0pt;margin-bottom:0pt; }
.ptc-75 { margin-top:0pt;margin-bottom:6pt; }
.ptc-76 { text-align:left;margin-top:0pt;margin-bottom:0pt;margin-left:34pt; }
.ptc-77 { margin-top:0pt;margin-bottom:10pt; }
.ptc-78 { margin-left:24pt;width:251px;height:91px; }
.ptc-79 { height:141px;width:300px; }
.ptc-80 { height:60px;width:540px; }
.ptc-81 { height:64px;width:65px; }
.ptc-82 { height:64px;width:64px; }
.ptc-83 { height:69px;width:69px; }
.ptc-84 { height: 122px; width: 125px; }
.ptc-85 { height: 122px; width: 182px; }
.ptc-86 { height: 122px; width: 131px; }
.ptc-87 { height:39px;width:450px; }
.ptc-88 { height:39px;width:90px; }
.ptc-89 { height:291px;width:110px; }
.ptc-90 { height:160px;width:160px; }
.ptc-91 { height:114px;width:539px; }
.ptc-92 { width:267px;height:143px; }
.ptc-93 { width:97px;height:96px; }
.ptc-94 { width: 144px; height: 53px; }
.ptc-95 { width: 97px; height: 94px; }
.ptc-96 { width: 122px; height: 94px; }
.ptc-97 { width:170px;height:170px; }
.ptc-98 { width:509px;height:170px; }
.ptc-99 { width: 160px; height: 160px; }
.ptc-100 { border:1px solid #000000;border-spacing:1px;margin-left:36pt;height:280px;width:200px; }
.ptc-101 { border:1px solid #000000; padding:1px; }
.ptc-102 { background-color:rgb(204,204,204); }
.ptc-103 { padding-left:90px;align:left; }
.ptc-104 { width:380px;height:138px; }
.ptc-105 { border:1px solid #000000;border-spacing:0px;margin-left:72px; }
.ptc-106 { text-align:center;background-color:rgb(204,204,204); }
.ptc-107 { width:384px;height:138px; }
.ptc-108 { text-align:center;background-color:rgb(204,204,204);padding-left:12px;padding-right:12px; }
.ptc-109 { width:376px;height:138px; }
.ptc-110 { width: 376px; height: 138px; }
.ptc-111 { border:1px solid #000000;border-spacing:0px;margin-left:72px;height:182px;width:115px; }
.ptc-112 { text-align:center;height:18px;width:188px;background-color:rgb(204,204,204); }
.ptc-113 { height:18px;width:188px; }
.ptc-114 { height:19px;width:188px; }
.ptc-115 { width:313px;height:93px; }
.ptc-116 { width:313px;height:79px; }
.ptc-117 { width:540px;height:113px; }
.ptc-118 { width:124px;height:90px; }
.ptc-119 { width:192px;height:83px; }
.ptc-120 { width:197px;height:64px; }
.ptc-121 { width: 452px; height: 51px; }
.ptc-122 { width: 277px; height: 80px; }
.ptc-123 { width: 277px; height: 41px; }
.ptc-124 { width: 219px; height: 51px; }
.ptc-125 { width:368px;height:49px; }
.ptc-126 { width:242px;height:49px; }
.ptc-127 { width: 180px; height: 38px; }
.ptc-128 { width:52px;height:25px; }
.ptc-129 { border:1px solid #000000;border-spacing:0px;height:115px;margin-left:15pt;width:296px; }
.ptc-130 { text-align: center; }
.ptc-131 { border:1px solid #000000;border-spacing:0px;height:62px;margin-left: 30pt;width:336px; }
.ptc-132 { border:1px solid #000000;border-spacing:0px;height:97px;margin-left:30pt;width:303px; }
.ptc-133 { border:1px solid #000000;border-spacing:0px;height:80px;margin-left:30pt;width:216px; }
.ptc-134 { border:1px solid #000000;border-spacing:1px;height:115px;margin-left:30pt;width:270px; }
.ptc-135 { border:1px solid #000000;border-spacing:1px;height:80px;margin-left: 30pt;width:254px; }
.ptc-136 { width: 384px; height: 213px; }
.ptc-137 { width: 434px; height: 434px; }
.ptc-138 { width: 434px; height: 435px; }
.ptc-139 { width: 263px; height: 236px; }
.ptc-140 { margin-left: 40px; }
.ptc-141 { width:519px;height:84px; }
.ptc-142 { width: 394px; height: 154px; }
.ptc-143 { width:540px;height:220px; }
.ptc-144 { width:456px;height:55px; }
.ptc-145 { border:1px solid #000000;border-spacing:1px;height:161px;margin-left:30pt;width:224px; }
.ptc-146 { border:1px solid #000000;border-spacing:1px;height:161px;margin-left:30pt;width:211px; }
.ptc-147 { border:1px solid #000000;border-spacing:1px;height:158px;margin-left:30pt;width:221px; }
.ptc-148 { border:1px solid #000000;border-spacing:1px;height:161px;margin-left: 30pt;width:216px; }
.ptc-149 { border:1px solid #000000;border-spacing:1px;height:161px;margin-left: 30pt;width:215px; }
.ptc-150 { width:392px;height:103px; }
.ptc-151 { width:400px;height:96px; }
.ptc-152 { border:1px solid #000000;border-spacing:0px;height:121px;width:131px; }
.ptc-153 { border:1px solid #000000;border-spacing:0px;height:121px;width:135px; }
.ptc-154 { border:1px solid #000000;border-spacing:0px;height:103px;width:135px; }
.ptc-155 { border:1px solid #000000;border-spacing:1px;height:121px;width:131px; }
.ptc-156 { width: 69px; height: 20px; }
.ptc-157 { width: 148px; height: 191px; }
.ptc-158 { width: 191px; height: 162px; }
.ptc-159 { width: 206px; height: 147px; }
.ptc-160 { width: 224px; height: 143px; }
.ptc-161 { width: 540px; height: 145px; }
.ptc-162 { width: 356px; height: 354px; }
.ptc-163 { width: 326px; height: 355px; }
.ptc-164 { width: 375px; height: 348px; }
.ptc-165 { width: 77px; height: 337px; }
.ptc-166 { width: 104px; height: 295px; }
.ptc-167 { width: 122px; height: 252px; }
.ptc-168 { width: 295px; height: 110px; }
.ptc-169 { width: 174px; height: 104px; }
.ptc-170 { width: 225px; height: 101px; }
.ptc-171 { width: 252px; height: 71px; }
.ptc-172 { width: 299px; height: 74px; }
.ptc-173 { width: 138px; height: 158px; }
.ptc-174 { width: 155px; height: 138px; }
.ptc-175 { width: 167px; height: 117px; }
.ptc-176 { width: 195px; height: 109px; }
.ptc-177 { width: 176px; height: 211px; }
.ptc-178 { width: 202px; height: 175px; }
.ptc-179 { width: 204px; height: 147px; }
.ptc-180 { width: 285px; height: 121px; }
.ptc-181 { width: 154px; height: 217px; }
.ptc-182 { width: 166px; height: 217px; }
.ptc-183 { width: 154px; height: 244px; }
.ptc-184 { width: 154px; height: 192px; }
.ptc-185 { width: 146px; height: 192px; }
.ptc-186 { width: 154px; height: 168px; }
.ptc-187 { width: 146px; height: 191px; }
.ptc-188 { width: 146px; height: 168px; }
.ptc-189 { width: 138px; height: 168px; }
.ptc-190 { width: 138px; height: 102px; }
.ptc-191 { width: 138px; height: 80px; }
.ptc-192 { width:147px;height:147px; }
.ptc-193 { width: 147px; height: 147px; }
.ptc-194 { width: 192px; height: 78px; }
.ptc-195 { width: 396px; height: 200px; }
.ptc-196 { width: 213px; height: 227px; }
.ptc-197 { width: 170px; height: 120px; }
.ptc-198 { width: 152px; height: 138px; }
.ptc-199 { width: 188px; height: 135px; }
.ptc-200 { width: 175px; height: 156px; }
.ptc-201 { height:227px;width:230px; }
.ptc-202 { width: 168px; height: 270px; }
.ptc-203 { width: 450px; height: 270px; }
.ptc-204 { width: 182px; height: 191px; }
.ptc-205 { width:168px;height:168px; }
.ptc-206 { width: 144px; height: 90px; }
.ptc-207 { width: 135px; height: 57px; }
.ptc-208 { width: 144px; height: 85px; }
.ptc-209 { width: 137px; height: 101px; }
.ptc-210 { width: 153px; height: 121px; }
.ptc-211 { width: 12px; height: 39px; }
.ptc-212 { width: 131px; height: 39px; }
.ptc-213 { width: 193px; height: 35px; }
.ptc-214 { width: 163px; height: 35px; }
.ptc-215 { width: 322px; height: 145px; }
.ptc-216 { width: 91px; height: 80px; }
.ptc-217 { width: 143px; height: 87px; }
.ptc-218 { width: 117px; height: 88px; }
.ptc-219 { width: 133px; height: 54px; }
.ptc-220 { width: 107px; height: 80px; }
.ptc-221 { width: 117px; height: 59px; }
.ptc-222 { width: 81px; height: 98px; }
.ptc-223 { width: 156px; height: 98px; }
.ptc-224 { width: 199px; height: 64px; }
.ptc-225 { width: 199px; height: 97px; }
.ptc-226 { width: 219px; height: 49px; }
.ptc-227 { width: 121px; height: 121px; }
.ptc-228 { width: 171px; height: 145px; }
.ptc-229 { width: 119px; height: 145px; }
.ptc-230 { width: 156px; height: 73px; }
.ptc-231 { width: 139px; height: 49px; }
.ptc-232 { width: 85px; height: 73px; }
.ptc-233 { width: 117px; height: 117px; }
.ptc-234 { width: 141px; height: 50px; }
.ptc-235 { width: 89px; height: 74px; }
.ptc-236 { width: 89px; height: 93px; }
.ptc-237 { width: 73px; height: 93px; }
.ptc-238 { width: 74px; height: 96px; }
.ptc-239 { width: 74px; height: 93px; }
.ptc-240 { width: 145px; height: 145px; }
.ptc-241 { width: 148px; height: 131px; }
.ptc-242 { width: 211px; height: 78px; }
.ptc-243 { width: 135px; height: 133px; }
.ptc-244 { width: 98px; height: 145px; }
.ptc-245 { width: 122px; height: 122px; }
.ptc-246 { width: 136px; height: 107px; }
.ptc-247 { width: 131px; height: 107px; }
.ptc-248 { width: 107px; height: 124px; }
.ptc-249 { width: 109px; height: 104px; }
.ptc-250 { width: 108px; height: 108px; }
.ptc-251 { width: 129px; height: 117px; }
.ptc-252 { width: 109px; height: 73px; }
.ptc-253 { width: 65px; height: 93px; }
.ptc-254 { width: 70px; height: 93px; }
.ptc-255 { width: 86px; height: 96px; }
.ptc-256 { width: 63px; height: 93px; }
.ptc-257 { width: 106px; height: 72px; }
.ptc-258 { width: 132px; height: 58px; }
.ptc-259 { width: 130px; height: 120px; }
.ptc-260 { width:200px;height:219px; }
.ptc-261 { height: 164px; width: 284px; }
.ptc-262 { width:224px;height:94px; }
.ptc-263 { width: 228px; height: 91px; }
.ptc-264 { border:1px solid #000000;border-spacing:0px;height:182px;margin-left:36px;width:135px; }
.ptc-265 { text-align:center;height:17px;width:200px;background-color:rgb(204,204,204); }
.ptc-266 { height:17px;width:200px;text-align:center; }
.ptc-267 { width:320px;height:78px; }
.ptc-268 { width: 320px; height: 83px; }
.ptc-269 { width: 320px; height: 93px; }
.ptc-270 { width: 320px; height: 84px; }
.ptc-271 { width: 320px; height: 92px; }
.ptc-272 { width: 320px; height: 108px; }
.ptc-273 { width: 289px; height: 289px; }
.ptc-274 { width: 73px; height: 73px; }
.ptc-275 { width: 61px; height: 84px; }
.ptc-276 { width: 79px; height: 62px; }
.ptc-277 { width: 114px; height: 72px; }
.ptc-278 { width: 108px; height: 95px; }
.ptc-279 { width:407px;height:217px; }
.ptc-280 { width:407px;height:212px; }
.ptc-281 { width:169px;height:165px; }
.ptc-282 { width: 240px; height: 122px; }
.ptc-283 { width: 248px; height: 113px; }
.ptc-284 { width: 248px; height: 165px; }
.ptc-285 { width: 252px; height: 165px; }
.ptc-286 { text-align:right; }
.ptc-287 { width: 147px; height: 191px; }
.ptc-288 { width: 186px; height: 154px; }
.ptc-289 { width: 186px; height: 130px; }
.ptc-290 { width: 252px; height: 95px; }
.ptc-291 { width: 120px; height: 197px; }
.ptc-292 { width: 132px; height: 227px; }
.ptc-293 { width: 132px; height: 202px; }
.ptc-294 { width: 104px; height: 202px; }
.ptc-295 { width: 121px; height: 73px; }
.ptc-296 { width: 241px; height: 290px; }
.ptc-297 { width: 268px; height: 174px; }
.ptc-298 { margin-left:72px;width:166px;height:95px; }
.ptc-299 { width: 166px; height: 95px; }
.ptc-300 { width:435px;height:113px; }
.ptc-301 { margin-top:0pt;margin-bottom:0pt; }
.ptc-302 { width: 459px; height: 193px; }
.ptc-303 { height:35px; }
.ptc-304 { width: 442px; height: 136px; }
.ptc-305 { margin-left:36px;width:193px;height:45px; }
.ptc-306 { width: 193px; height: 45px; }
.ptc-307 { width: 194px; height: 45px; }
.ptc-308 { width: 440px; height: 141px; }
.ptc-309 { width: 181px; height: 97px; }
.ptc-310 { width: 277px; height: 97px; }
.ptc-311 { width: 325px; height: 97px; }
.ptc-312 { width: 421px; height: 97px; }
.ptc-313 { width: 229px; height: 97px; }
.ptc-314 { width:201px;height:201px; }
.ptc-315 { width: 201px; height: 201px; }
.ptc-316 { width: 201px; height: 21px; }
.ptc-317 { width: 289px; height: 59px; }
.ptc-318 { width:293px;height:196px; }
.ptc-319 { width: 86px; height: 86px; }
.ptc-320 { width: 114px; height: 114px; }
.ptc-321 { width: 114px; height: 86px; }
.ptc-322 { width: 142px; height: 114px; }
.ptc-323 { height: 356px; width: 540px; }
.ptc-324 { width:276px;height:233px; }
.ptc-325 { width:269px;height:254px; }
.ptc-326 { border:1px solid #000000;border-spacing:0px;margin-left:36px; }
.ptc-327 { background-color:#cccccc;font-weight:bold; }
.ptc-328 { width: 337px; height: 97px; }
.ptc-329 { width: 96px; height: 28px; }
.ptc-330 { border:1px solid #000000;border-spacing:1px;height:103px;margin-left: 15pt;width:396px; }
.ptc-331 { border:1px solid #000000;border-spacing:1px;height:121px;margin-left:30pt;width:121px; }
.ptc-332 { height:213px;width:240px; }
.ptc-333 { height:213px;width:213px; }
.ptc-334 { height:200px;width:240px; }
.ptc-335 { width: 154px; height: 97px; }
.ptc-336 { width: 130px; height: 97px; }
.ptc-337 { width: 111px; height: 94px; }
.ptc-338 { width: 112px; height: 97px; }
.ptc-339 { width:538px;height:112px; }
.ptc-340 { width:538px;height:77px; }
.ptc-341 { width:27px;height:34px; }
.ptc-342 { width:28px;height:34px; }
.ptc-343 { width:44px;height:34px; }
.ptc-344 { width: 33px; height: 36px; }
.ptc-345 { width: 31px; height: 34px; }
.ptc-346 { width: 27px; height: 35px; }
.ptc-347 { width: 287px; height: 145px; }
.ptc-348 { width:507px;height:117px; }
.ptc-349 { width:147px;height:55px; }
.ptc-350 { width:97px;height:162px; }
.ptc-351 { width:142px;height:41px; }
.ptc-352 { width:116px;height:70px; }
.ptc-353 { width:126px;height:64px; }
.ptc-354 { width:101px;height:76px; }
.ptc-355 { width:123px;height:62px; }
.ptc-356 { font-size: 12.6666669845581px; width: 126px; height: 64px; }
.ptc-357 { font-size: 12.6666669845581px; width: 140px; height: 61px; }
.ptc-358 { font-size: 12.6666669845581px; width: 116px; height: 71px; }
.ptc-359 { font-size: 12.6666669845581px; width: 112px; height: 68px; }
.ptc-360 { margin-left:36px;width: 125px; height: 125px; }
.ptc-361 { width:144px;height:72px; }
.ptc-362 { width: 57px; height: 28px; text-align: center; }
.ptc-363 { width: 550px; height: 28px; text-align: center; }
.ptc-364 { clear:both; }
.ptc-365 { font-size: 12.6666669845581px; width: 170px; height: 86px; }
.ptc-366 { font-size: 12.6666669845581px; width: 145px; height: 87px; }
.ptc-367 { font-size: 12.6666669845581px; width: 136px; height: 104px; }
.ptc-368 { font-size: 12.6666669845581px; width: 163px; height: 82px; }
.ptc-369 { width:500px;text-align:left;margin-top:0pt;margin-bottom:0pt;border-style:solid;border-width:1px;border-color:#000000;padding:2px; }
.ptc-370 { width: 257px; height: 42px; }
.ptc-371 { width: 169px; height: 97px; }
.ptc-372 { width: 113px; height: 98px; }
.ptc-373 { width:217px;height:190px; }
.ptc-374 { width:277px;height:262px; }
.ptc-375 { height:127px;width:87px; }
.ptc-376 { height:122px;width:148px; }
.ptc-377 { height:123px;width:129px; }
.ptc-378 { height:130px;width:131px; }
.ptc-379 { height:122px;width:154px; }
.ptc-380 { border:1px solid #000000;border-spacing:1px;margin-left:30pt;width:262px; }
.ptc-381 { margin-bottom:4px; }
.ptc-382 { width:50%;text-align:right;padding-right:60px; }
.ptc-383 { width: 217px; height: 190px; }
.ptc-384 { width:139px;height:139px; }
.ptc-385 { height:30px;width:540px; }
.ptc-386 { height:30px;width:117px; }
.ptc-387 { height:30px;width:192px; }
.ptc-388 { height:30px;width:211px; }
.ptc-389 { height:30px;width:217px; }
.ptc-390 { width:434px;height:99px; }
.ptc-391 { width: 254px; height: 125px; }
.ptc-392 { height:230px;width:230px; }