<configuration>
    <statusListener class="ch.qos.logback.core.status.NopStatusListener" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%-5level] %logger{18} - %msg%n</pattern>
        </encoder>
    </appender>
    <!--
    <logger name="org.corespring.conversion.qti.manifest" level="TRACE"></logger>
    <logger name="org.corespring.conversion.qti" level="TRACE"></logger>
    <logger name="com.keydatasys.conversion.qti" level="TRACE"></logger>
    <logger name="org.measuredprogress.conversion.zip" level="DEBUG"></logger>
    <logger name="org.corespring.container.JsConsole" level="TRACE"></logger>
    -->
    <root level="WARN">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
